name: GHA
on:
  pull_request:
    branches:
      - main

jobs:
  check-signed_commits:
    name: Check signed commits
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
    steps:
      - name: Check sign-off
        uses: live627/check-pr-signoff-action@v1