name: Commit Check
on:
  pull_request_target:
    branches:
      - main

jobs:
  check:
    name: Signed commits check
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
    steps:
      - name: Commit Check
        uses: live627/check-pr-signoff-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}


