name: Commit Check
on:
  pull_request_target:
    branches:
      - main

jobs:
  check:
    name: Signed commits check
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
    steps:
      - name: Commit Check
        uses: KineticCafe/actions-dco@v1


